<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<appender name="product"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/product.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 按天回滚 daily -->
			<fileNamePattern>logs/product.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- 日志最大的历史 10天 -->
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<logger name="cn.com.poly.nci" level="info"></logger>
	<root level="info">
		<appender-ref ref="product" />
	</root>

</configuration>
